* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  line-height: 1;
  font-size: 23px;
  font-weight: 400;
  color: #f7f7f7;
  font-family: "Open Sans";
  background: #cccccc;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 479px) {
  ._ibg img {
    -o-object-fit: none;
    object-fit: none;
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 98px;
}

.header__logo {
  padding-right: 50px;
}

.logo {
  font-family: Roboto;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: inherit;
  background-image: url(/img/header/header_logo.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 60px;
  padding-left: 85px;
  z-index: 10;
}

@media (max-width: 400px) {
  .logo {
    font-size: 28px;
  }
}

.menu__icon {
  display: none;
}

@media (max-width: 767px) {
  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
}

@media (max-width: 767px) {
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
}

@media (max-width: 767px) {
  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0px;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 767px) {
  .menu__icon::before {
    top: 0px;
  }
}

@media (max-width: 767px) {
  .menu__icon::after {
    bottom: 0px;
  }
}

@media (max-width: 767px) {
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%);
  }
}

.menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
  transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
  transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
  transform: rotate(45deg) translate(0px, 50%);
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #cd6326;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
}

.menu__body._active {
  left: 0px;
}

.menu__body._active::before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 98px;
  background-color: #8f5613;
  z-index: 3;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .menu__list {
    display: block;
  }
}

.menu__item {
  line-height: calc(60 / 23 * 100%);
}

.menu__item:not(:last-child) {
  margin: 0px 61px 0px 0px;
}

@media (max-width: 900px) {
  .menu__item:not(:last-child) {
    margin: 0px 35px 0px 0px;
  }
}

@media (max-width: 800px) {
  .menu__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }
}

.menu__item_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 60px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .menu__item_search {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

.menu__item_button {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 3px 23px;
  line-height: calc(27 / 23 * 100%);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

@media (min-width: 768px) {
  .menu__item_button {
    border: 2px solid #cd6326;
  }
  .menu__item_button:hover {
    background-color: #cd6326;
  }
}

@media (min-width: 768px) {
  .menu__item_button:active {
    background-color: #8f5613;
    border: none;
    padding: 3px 25px;
  }
}

@media (max-width: 767px) {
  .menu__item_button {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    border: "";
    border-radius: "";
    padding: 0px;
    line-height: calc(60 / 23 * 100%);
  }
}

.menu__link {
  color: inherit;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.main-block {
  position: relative;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-block__body {
  padding: 199px 0px 279px 0px;
  max-width: 290px;
  position: relative;
  z-index: 5;
}

@media (max-width: 767px) {
  .main-block__body {
    padding: 149px 0px 121px 0px;
  }
}

.main-block__title {
  font-size: 48px;
  line-height: calc(72 / 48 * 100%);
  letter-spacing: 2px;
  color: #cd6326;
  margin-bottom: 51px;
}

@media (max-width: 767px) {
  .main-block__title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  }
}

.main-block__text {
  font-size: 18px;
  line-height: calc(27 / 18 * 100%);
  margin-bottom: 49px;
}

@media (max-width: 767px) {
  .main-block__text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  }
}

.main-block__button {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 5px 42px;
  font-size: 23px;
  line-height: calc(27 / 23 * 100%);
  background-color: #cd6326;
  border-radius: 5px;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-block__button:hover {
  background-color: #e39128;
}

.main-block__button:active {
  background: #8f5613;
}

.main-block__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 479px) {
  .main-block__background img {
    -o-object-position: left;
    object-position: left;
  }
}

.articles {
  background: #cccccc;
}

.articles__body {
  padding: 116px 0px 239px 0px;
}

@media (max-width: 767px) {
  .articles__body {
    padding: 80px 0px 160px 0px;
  }
}

.articles__title {
  font-size: 48px;
  line-height: calc(72 / 48 * 100%);
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.articles__subtitle {
  font-size: 24px;
  line-height: calc(36 / 24 * 100%);
  text-align: center;
  color: #666666;
  margin-bottom: 120px;
}

@media (max-width: 1023px) {
  .articles__subtitle {
    margin-bottom: 80px;
  }
}

.articles__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.articles__icon_right {
  padding-left: 60px;
}

@media (max-width: 767px) {
  .articles__icon_right {
    padding-left: 30px;
  }
}

.articles__gallery {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
}

.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.articles__column {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  padding-left: 60px;
}

@media (max-width: 1023px) {
  .articles__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 767px) {
  .articles__column {
    padding-left: 30px;
  }
}

@media (max-width: 479px) {
  .articles__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

.item-article__link-image {
  display: block;
  cursor: pointer;
  padding: 0px 0px 120% 0px;
}

.item-article__link-image img {
  display: block;
}

.item-article__words {
  position: relative;
  z-index: 2;
  margin: -113px 0px 0px 0px;
  cursor: pointer;
  padding: 0px 5px;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .item-article__words {
    margin: 0px 0px 0px 0px;
    color: #666666;
  }
}

.item-article__title {
  font-size: 22px;
  line-height: calc(36 / 22 * 100%);
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .item-article__title {
    padding-bottom: 5px;
  }
}

.item-article__subtitle {
  font-size: 17px;
  line-height: calc(27 / 17 * 100%);
  text-align: center;
}

.subscribe__body {
  padding: 0px 0px 239px 0px;
}

@media (max-width: 767px) {
  .subscribe__body {
    padding: 0px 0px 160px 0px;
  }
}

.subscribe__title {
  font-size: 27px;
  line-height: calc(40 / 27 * 100%);
  text-align: center;
  color: #333333;
  margin-bottom: 59px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscribe__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  font-family: Roboto;
  font-size: 23px;
  line-height: calc(27 / 23 * 100%);
  color: #666666;
  border: 1px solid #666666;
  border-right: none;
  background-color: #cccccc;
  padding: 5px 15px 5px 15px;
  max-width: 536px;
}

.subscribe__button {
  font-family: Roboto;
  font-size: 23px;
  line-height: calc(27 / 23 * 100%);
  color: inherit;
  background: #cd6326;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
  min-width: 120px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.subscribe__button:hover {
  background-color: #e39128;
}

.subscribe__button:active {
  background: #8f5613;
}

.footer {
  position: relative;
}

.footer__row {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 359px;
}

@media (max-width: 1023px) {
  .footer__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 1023px) {
  .footer__wrap-logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (max-width: 600px) {
  .footer__wrap-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer__logo {
  display: block;
}

@media (max-width: 1023px) {
  .footer__menu {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 86px 0px 0px;
}

@media (max-width: 1200px) {
  .menu-footer__item:not(:last-child) {
    margin: 0px 50px 0px 0px;
  }
}

.menu-footer__link {
  font-size: 23px;
  line-height: calc(60 / 23 * 100%);
  color: inherit;
}

@media (max-width: 1023px) {
  .footer__social {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media (max-width: 600px) {
  .footer__social {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social__icon-link {
  cursor: pointer;
}

.social__icon-link:not(:last-child) {
  margin: 0px 27px 0px 0px;
}

._ibg-footer {
  position: relative;
}

._ibg-footer img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
