.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__container {
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 98px; //! 60 контент + 19 сверху + 19 снизу
}

.header__logo {
    padding-right: 50px; //! отступ безопасности
}

.logo {
    font-family: Roboto;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: inherit;

    background-image: url(../img/header/header_logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 60px;
    padding-left: 85px;

    z-index: 10;

    @media (max-width: 400px) {
        font-size: 28px;
    }
}

.header__menu {
}

.menu {
}

.menu__icon {
    display: none; //! иконка бургера (три полоски) пока не видна

    @media (max-width: 767px) {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }

    &::before,
    &::after {
        @media (max-width: 767px) {
            content: "";
        }
    }

    &::before,
    &::after,
    span {
        @media (max-width: 767px) {
            left: 0px;
            position: absolute;
            height: 10%;
            width: 100%;
            background-color: #fff;

            transition: all 0.3s ease 0s;
        }
    }

    &::before {
        @media (max-width: 767px) {
            top: 0px; //! рисуем верхнюю линию бургера
        }
    }

    &::after {
        @media (max-width: 767px) {
            bottom: 0px; //! рисуем нижнюю линию бургера
        }
    }

    span {
        @media (max-width: 767px) {
            top: 50%;
            transform: scale(1) translate(0px, -50%); //! рисуем среднюю линию бургера
        }
    }

    //! При нажатии иконки бургера три полоски превращаются в крестик (см. JS):
    &._active {
        span {
            transform: scale(0) translate(0px, -50%); //! убираем среднюю линию бургера
        }

        &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        &::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    }
}

.menu__body {
    @media (max-width: 767px) {
        position: fixed;
        top: 0px;
        left: -100%; //! уводим влево меню
        width: 100%;
        height: 100%;
        background-color: #cd6326;
        // background-image: url(/img/main/main_background.jpg);
        padding: 100px 30px 30px 30px;

        transition: left 0.3s ease 0s;

        overflow: auto; //! необходимо всегда писать в бургере, чтобы можно было прокручивать пункты меню, если их много
    }

    //! При нажатии иконки бургера появляется меню (см. JS):
    &._active {
        left: 0px; //! показываем меню

        &::before {
            //! при "._active" создаёт "плашку/прокладку", которая помешает пунктам налезать на лого при прокрутке
            content: "";
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 98px;
            background-color: #8f5613;

            z-index: 3;
        }
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 767px) {
        display: block;
    }
}
.menu__item {
    line-height: calc(60 / 23 * 100%);

    &:not(:last-child) {
        margin: 0px 61px 0px 0px;

        @media (max-width: 900px) {
            margin: 0px 35px 0px 0px;
        }
        @media (max-width: 800px) {
            margin: 0px 20px 0px 0px;
        }
    }
}

.menu__item_search {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 60px;
    cursor: pointer;

    @media (max-width: 767px) {
        justify-content: start;
    }
}

.menu__item_button {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 5px;
    padding: 3px 23px; //! 3px - отступы безопасности, так они не видны
    line-height: calc(27 / 23 * 100%);

    transition: background 0.3s ease 0s;

    @media (min-width: 768px) {
        border: 2px solid #cd6326;

        &:hover {
            background-color: #cd6326;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    @media (min-width: 768px) {
        &:active {
            background-color: #8f5613;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none;
            padding: 3px 25px; //! при нажатии убираем бордер => увеличиваем паддинг на ширину бордера
        }
    }

    @media (max-width: 767px) {
        justify-content: start;
        border: "";
        border-radius: "";
        padding: 0px;
        line-height: calc(60 / 23 * 100%);
    }
}

.menu__link {
    color: inherit;
}
.menu__link_search {
}

.menu__link_button {
}
