.footer {
    position: relative; //! для абсолютной картинки-фона footer__background
}

.footer__container {
}

.footer__row {
    position: relative; //! без этого не работает z-index, который нам нужен, чтобы расположиться сверху картинки-бэкграунда
    z-index: 5;

    display: flex;
    justify-content: space-between; //! т.к. между тремя элементами флекс-контейнера (лого, меню, социал) одинаковое расстояние
    align-items: center;

    min-height: 359px; //! Так делает Жека вместо паддингов: флекс, центрирование, мин-хайт

    @media (max-width: 1023px) {
        flex-wrap: wrap;
    }
}
.footer__wrap-logo {
    @media (max-width: 1023px) {
        order: 1;
    }

    @media (max-width: 600px) {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
    }
}
.footer__logo {
    display: block; //! т.к. это <a>, нужно блочить
}

.footer__menu {
    @media (max-width: 1023px) {
        order: 3;
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
    }
}

.menu-footer {
}

.menu-footer__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap; //! нужно делать для надёжности! вдруг заказчик добавит пункты потом
    //! и благодаря лайн-хайту пункты при врапе не слипнутся
}

.menu-footer__item {
    &:not(:last-child) {
        margin: 0px 86px 0px 0px;

        @media (max-width: 1200px) {
            margin: 0px 50px 0px 0px;
        }
    }
}

.menu-footer__link {
    font-size: 23px;
    line-height: calc(60 / 23 * 100%);
    color: inherit;
}

.footer__social {
    @media (max-width: 1023px) {
        order: 2;
    }

    @media (max-width: 600px) {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
    }
}

.social {
}

.social__row {
    display: flex;
    align-items: center;
}

.social__icon-link {
    cursor: pointer;

    &:not(:last-child) {
        margin: 0px 27px 0px 0px;
    }
}

.social__img {
}

._ibg-footer {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.footer__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // object-fit: cover;  //! пишется только в самом _ibg img
}

/*
    ! ВАЖНО: делать эту запись НЕ внутри ограничивающего контейнера
	<div class="footer__background _ibg-footer">
		<img src="/img/footer/footer_background.jpg" alt="background">
	</div>

!!! Для того чтобы сделать картинку фоном нужно:

* В классе того блока, на который хотим растянуть картинку, в данном случае - footer, написать:
    position: relative;

* В классе обёртки для картинки-бэкграунда, в данном случае - footer__background, написать:
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

* Задать обёртке для картинки-бэкграунда ещё и класс _ibg (тут _ibg-footer) и написать в него:
    ._ibg-footer {
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

* В тот body, который мы хотим расположить сверху картинки-бэкграунда, в данном случае footer__row, написать:
    position: relative; //! без этого не работает z-index, который нам нужен, чтобы расположиться сверху картинки-бэкграунда
	z-index: 5;
*/
